@use 'utils/variables';
@use 'components/type';
@use 'components/js-el';
@use 'components/grid';


@import '../../node_modules/modern-normalize/modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.body{
    background-color: var(--c-bg);
}

.logo{
    background-image: url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 23px;

    &--txt{
        position: absolute;
	    white-space: nowrap;
	    text-indent: 100%;
        overflow: hidden;
    }
}

.dlbtn{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    padding: 27px 0px;
    background-image: url(../assets/images/dl.svg);

    &--txt{
        position: absolute;
	    white-space: nowrap;
	    text-indent: 100%;
        overflow: hidden;
    }

    &--last{
        padding: 24px;
        background-position: center;
    }
}

.content{
    padding: 0 36px;

    &__el{
        margin: auto;
        margin-bottom: 18px;
        max-width: 100ch;

        &--center{
            text-align: center;
        }
    }

    &__sec{
        margin-bottom: 36px;
    }

    &__img{
        display: block;
        margin: auto;
        max-width: 240px;

        img{
            width: 100%;
            background-color: var(--c-primary);
            display: block; /* Prevents the <picture> from having a strange space */
            border: solid 2px var(--c-primary);
            border-radius: 15px;
        }

        &--full{
            width: 100%;
            max-width: 400px;
        }
    }

    &--purple{
        padding: 36px 36px;
        margin-bottom: 0;
    }

    &--spacetop{
        margin-top: 36px;
    }

    &--top{
        
        height: 100vh;
        background-size: cover;
        background-position: 70% top;
        background-image: url(../assets/images/cover@1x.jpg);
        padding: 36px 36px 72px;

        @media (device-pixel-ratio: 2) {
            background-image: url(../assets/images/cover@2x.jpg);
        }

        @media (min-width: 768px){
            color: red;
        }

        @media (min-width: 992px){
            color: green;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

.section{
    margin-bottom: 72px;
}

@media(min-width: 992px){
    .wrap{
        overflow-x: hidden;
    }

    .horizontal{
        display: flex;
        width: 300vw;
        height: 100vh;
        overflow-x: hidden;
        

        .section{
            width: 100vw;
        }

        &__img{
            grid-row: 1 / 2 span;
        }

        &__txt{
            grid-row: 1 / 2 span;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            *{
                margin: 0;
            }
        }
    }
}


.purple{
    background-color: var(--c-primary);

    &::before, &::after{
        content: "";
        display: block;
        background-color: var(--c-bg);
        background-image: url(../assets/images/pattern.png);
        background-size: contain;
        background-repeat: repeat-x;
        padding: 18px;
        width: 100%;
    }

    &::after{
        background-image: url(../assets/images/pattern2.png);
    }

    &--dl{
        padding: 72px 18px;
    }

    @media (min-width: 996px){

        &__txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            *{
                margin: 0;
            }
        }
    }
}

.gallery{
    height: 80vh;
    width: 100%;
    background-image: url(../assets/images/gallery@1x.webp);
    background-size: cover;
    background-position: center;

    @media (device-pixel-ratio: 2) {
        background-image: url(../assets/images/gallery@2x.webp);
    }
}

.review{
    background-color: var(--c-primary);
    padding: 36px;
    border-radius: 15px;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    &__img{
        padding-top: 90px;
        background-repeat: no-repeat;
        background-size: 72px;
        background-position: top center;

        &--tasu{
            background-image: url(../assets/images/opinion__tasu.png);
        }

        &--amavocado{
            background-image: url(../assets/images/opinion__amavocado.png);
        }

        &--rener{
            background-image: url(../assets/images/opinion__rener.png);
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    text-align: center;

    &__el{
        margin-bottom: 18px;
    }

    a{
        color: var(--c-third);
    }
}

.linkList{
    display: flex;

    &__el{
        margin: 0 18px;
    }
}