@use 'utils/variables';
@use 'components/type';
@use 'components/js-el';
@use 'components/grid';


@import '../../node_modules/modern-normalize/modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.body{
    background-color: var(--c-bg);
}

.logo{
    background-image: url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 23px;

    &--txt{
        position: absolute;
	    white-space: nowrap;
	    text-indent: 100%;
        overflow: hidden;
    }

    &--cs{
        width: 200px;
        margin: 0 auto 18px auto;
    }
}

.dlbtn{
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    padding: 27px 0px;
    background-image: url(../assets/images/dl.svg);

    &--txt{
        position: absolute;
	    white-space: nowrap;
	    text-indent: 100%;
        overflow: hidden;
    }

    &--last{
        padding: 24px;
        background-position: center;
    }

    &--cs{
        background-position: center;
    }
}

.topSection{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;

    @media (min-width: 992px){
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 18px;
    }

    &--cs{
        height: 100vh;
        justify-content: center;
    }

    &__title{
        margin: auto;
        display: block;

        @media (min-width: 992px){
            margin-top: 0;
        }
    }

    &__el{
        margin-bottom: 18px;
    }

    &__txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: 992px){
            margin-top: 0;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__content{
        padding: 36px;
        max-width: 1500px;
        margin: auto;
    }

    &__img{
        max-height: 500px;
        img{
            height: 100%;
        }

        @media (min-width: 992px){
            max-height: none;
            
            img{
                height: auto;
            }
        }
    }
}

.content{
    padding: 0 36px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    &__el{
        margin-bottom: 18px;
        max-width: 800px;

        &--center{
            text-align: center;
        }

        &--top{
            margin: 0 0 18px 0;
        }

        &>*{
            margin: 0 auto 18px auto;
        }

        &--nomax{
            max-width: none;
        }

        &--nomargin{

            @media (min-width: 992px){
                margin: 0;
            }
        }

        }

    &__sec{
        margin-bottom: 36px;
    }

    &--purple{
        padding: 36px 36px;
        margin-bottom: 0;
    }

    &--spacetop{
        margin-top: 36px;
    }

    &--top{
        
        height: 100vh;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 70% top;
        background-image: url(../assets/images/cover@1x.jpg);
        padding: 36px 36px 72px;

        @media (device-pixel-ratio: 2) {
            background-image: url(../assets/images/cover@2x.jpg);
        }

    }

    &__quote{
        max-width: none;
        margin: 0 auto 18px auto;
        font-size: var(--subtitle);
        
        @media (min-width: 992px){
            text-align: center;
        }
    }
}

.img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    img{
        width: 100%;
        display: block;
        border-radius: 15px;
    }

    &--full{
        width: 100%;
        max-width: 400px;
    }

    &--bg{
        img{
            background-color: var(--c-primary);
            border: solid 2px var(--c-primary);
        }
    }

    &--nomargin{
        margin: 0 auto 0 auto;
    }

    &--typo{
        height: 80vh;
        overflow-x: scroll;
        max-width: none;

        img{
            height: 100%;
            width: auto;
        }
    }
    
}

.section{
    margin-bottom: 72px;
}

.spoiler{
    background-color: var(--c-primary);
    border-radius: 15px;
    padding: 18px;
    cursor: pointer;

    &__el{
        border: 1px solid var(--c-primary);
        border-top: none;
        padding: 18px 18px 18px 36px;
        border-radius: 0 0 15px 15px;
    }
}

.list{

    li{
        margin-bottom: 18px;
        &::before{
            content: "–";
            position: absolute;
            margin-left: -1em;
        }
    }
}

.link{
    color: var(--c-third);
    transition: 0.3s;

    &:hover{
        color: var(--c-fourth);
    }
}

.horizontal__img{
        grid-row: 1 / 2 span;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
}

.wrap{
    overflow-x: hidden;
}

@media(min-width: 992px){

    .horizontal{
        display: flex;
        width: 300vw;
        height: 100vh;
        overflow-x: hidden;
        align-items: center;
        

        .section{
            width: 100vw;
            margin-bottom: 0;
        }

        &__img{
            grid-row: 1 / 2 span;
            max-width: 240px;
        }

        &__txt{
            grid-row: 1 / 2 span;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;

            *{
                margin: 0;
            }
        }

        &--cs{
            width: 600vw;
        }

        &__cs{
            width: 100vw;
            padding: 36px;
            object-fit: contain;
            position: relative;
        }
    }
}


.purple{
    background-color: var(--c-primary);

    &::before, &::after{
        content: "";
        display: block;
        background-color: var(--c-bg);
        background-image: url(../assets/images/pattern.png);
        background-size: contain;
        background-repeat: repeat-x;
        padding: 18px;
        width: 100%;

        @media (min-width: 992px){
            padding: 72px;
        }
    }

    &::after{
        background-image: url(../assets/images/pattern2.png);
    }

    &--dl{
        padding: 72px 18px;
    }

    @media (min-width: 996px){

        &__txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.gallery{
    height: 80vh;
    width: 160%;
    background-image: url(../assets/images/gallery@1x.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (device-pixel-ratio: 2) {
        background-image: url(../assets/images/gallery@2x.webp);
    }

    @media(min-width: 992px){
        width: 120%;
        background-size: auto 100%;
        height: 100vh;
        transform: translateX(-80px);
    }
}

.review{
    background-color: var(--c-primary);
    padding: 36px;
    border-radius: 15px;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    @media (min-width: 992px){
        height: 90%;
    }

    &__img{
        padding-top: 90px;
        background-repeat: no-repeat;
        background-size: 72px;
        background-position: top center;

        &--tasu{
            background-image: url(../assets/images/opinion__tasu.png);
        }

        &--amavocado{
            background-image: url(../assets/images/opinion__amavocado.png);
        }

        &--rener{
            background-image: url(../assets/images/opinion__rener.png);
        }
    }

    @media (min-width: 992px){
        &--down{
            margin-top: 72px;
        }
    }
}

.slideshow{
    &__container{
        background-color: var(--c-bg);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 72px 54px 72px 54px;
        position: relative;
    }

    &--prev, &--next{
        padding: 18px;
        cursor: pointer;
    }

    &--prev{
        position: absolute;
        left: 0px;
    }

    &--next{
        position: absolute;
        right: 0px;
    }
}

.hidden{
    display: none;
}

.footer{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    text-align: center;

    &__el{
        margin-bottom: 18px;
    }

    a{
        color: var(--c-third);
        
        &:hover{
            color: var(--c-fourth);
        }
    }

    @media (min-width: 992px){
        flex-direction: row;
        justify-content: space-between;

        &__el{
            margin-bottom: 0;
        }
    }
}

.linkList{
    display: flex;

    &__el{
        margin: 0 18px;

        
    }
}