
:root{ 
    --c-bg: #0D0421;
    --c-text: #FFFFFF;
    --c-primary: #641CF1;
    --c-secondary: #33166E;
    --c-third: #af86ff;
    --c-fourth: #ddccff;
    
    /* TEXT */
    --txt: 18px;
    --subtitle: 23px;
    --title: 35px;
}

@media (min-width: 1050px){
    :root{
        --subtitle: 28px;
        --title: 55px;
    }
}

